<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Provene</title>
  <%- include('partials/head.html') -%>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <%- include('partials/navigation.html') -%>

    <section class="about-banner">
      <h1>Nosotros</h1>
      <button type="button" class="btn btn-primary about-btn-big" onclick="location.href='/'">MENÚ PRINCIPAL</button>
    </section>

    <section class="container-fluid text-center border-config py-5">
        <div class="row biosafety-proposal p-4 py-3">
          <div class="container d-flex"> 
              <div class="col-sm-7 col-lg-6 mb-3">
                <h2 class="text-uppercase mb-2">SOBRE NOSOTROS</h2>
                <p>Comercializadora Provene, C.A. es una empresa
                  venezolana creada por el esfuerzo de profesionales
                  venezolanos que buscan ofrecer al mercado productos
                  alimenticios de calidad, importados como nacionales,
                  con el fin de satisfacer las necesidades de los
                  consumidores, a través de supermercados, abastos y
                  pequeños comercios.
                  Inicia sus actividades en Febrero 2019, y desde entonces ha logrado
                  comercializar sus productos a través de varias cadenas de
                  supermercados de tradición e importancia a nivel nacional.</p>
              </div>
              <img src="img/provene-nosotros.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-6 image-about">
            </div>
          </div>
    </section>

    <section class="container-fluid about-services">
      <div class="row p-4 py-3">
        <div class="container d-flex">
          <img src="img/provene-valores-page.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-5">
          <div class="col-sm-7 col-lg-8 mt-2 ml-4">
            <h2 class="text-uppercase mb-4">Nuestros Valores</h2>
            <ul>
              <li><strong>Integridad:</strong> Actuamos apegados a principios morales y éticos que nos permiten poner el foco
siempre en la satisfacción del cliente, trabajando de la mano de personal calificado y
que actúa con base en la honestidad, profesionalismo, transparencia y confiabilidad</li>
              <li><strong>Pasión:</strong> Creemos en que la constancia y el compromiso con los resultados son la clave para
alcanzar el éxito, enfocándonos en el crecimiento sostenido y estable de nuestra
organización y sus colaboradores.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid border-config pt-5">
        <div class="row">
          <div class="container d-flex"> 
              <div class="col-sm-7 col-lg-7 mb-3">
                <ul>
                  <li><strong>Optimismo:</strong> Trabajamos con vitalidad y energía para alcanzar resultados que perduren en el
tiempo, convirtiéndonos en protagonistas de nuestra labor más allá de las
circunstancias externas. Nos adaptamos a las adversidades y nos enfocamos en el
aquí y en el ahora.</li>
                  <li><strong>Compromiso:</strong> Operamos con el mejor talento humano del mercado, que trabaja con pasión y
entusiasmo para lograr los objetivos trazados en cada proyecto, pues la satisfacción
del cliente es nuestro mayor deseo.</li>
                </ul>
              </div>
              <img src="img/provene-valores-pageb.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-5 image-about">
            </div>
          </div>
    </section>

  <%- include('partials/footer.html') -%>
</body>
</html>