<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head.html') -%>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <%- include('partials/navigation.html') -%>

    <section class="about-banner">
      <h1>About Us</h1>
      <button type="button" class="btn btn-primary about-btn-big" onclick="location.href='/'">BACK TO HOME</button>
    </section>

    <section class="container-fluid text-center border-config py-5">
        <div class="row biosafety-proposal p-4 py-3">
          <div class="container d-flex"> 
              <div class="col-sm-7 col-lg-6 mb-3">
                <h2 class="text-uppercase mb-2">Protecting you</h2>
                <p class="mr-3 justify-content-center">Biosafety Security LatAm is a Panamanian company, inspired by the multitude of challenges and
                  threats faced by its founders’ assignments abroad in high conflict zones around the world in the
                  last 25 years.
                  From inception, Biosafety Security LatAm has applied the training, skills and knowledge of the
                  company founders to deepen and grow our capabilities against the growing vulnerabilities
                  businesses, institutions and individuals are facing. We provide reliable, robust and the latest
                  cutting-edge technology in security, cyber-security, Biosafety, and security intelligence.
                  As part of our vision to protect life, reduce risks and practice security, we seek to expand our
                  capable services to more countries in Latin America. Our specialized technology along with our know-how of innovative security solutions can
                  support your success and give you sought-after security assurances that meet the demands of
                  various situations.</p>
              </div>
              <img src="img/security-guard.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-6 image-about">
            </div>
          </div>
    </section>

    <section class="container-fluid about-services">
      <div class="row p-4 py-3">
        <div class="container d-flex">
          <img src="img/biosafe-services.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-5">
          <div class="col-sm-7 col-lg-8 mt-2 ml-4">
            <h2 class="text-uppercase mb-4">Some of our services include</h2>
            <ul>
              <li>Fly safe: security for aviation, critical & strategic sites</li>
              <li>Smart borders: border patrol &amp; border control</li>
              <li>Cyber security: for institutional or corporate networks (for databases and command
              center infrastructures).</li>
              <li>Smart Integration: enabling Intelligence Systems for early warning, detection, and
              prevention</li>
              <li>Due to the Covid-19 pandemic and the need for strengthening against biological threats,
              our expertise covers an additional Biosafety layer for our customers.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid text-center border-config pt-4">
      <div class="container">
        <h2 class="text-uppercase pb-3">Working with the best</h2>
        <p class="mr-3 justify-content-center">Many of our board advisors are formerly “high ranked key figures” from security and
        intelligence agencies with years of experience in security projects all over the world. As skilled
        professionals with specialized research and development expertise, they have remained at the
        forefront of security awareness and this has enabled our company with advantages over the
        competition.
        Biosafety Security LatAm is also a leader in security and automation of global solutions for
        governments and private sector facilities.</p>
      </div>
    </section>

    <section class="container-fluid border-config py-5">
        <div class="row biosafety-benefits p-4 py-3">
          <div class="container d-flex"> 
              <div class="col-sm-7 col-lg-6 mb-3">
                <h2 class="text-uppercase text-center mb-4">The Main benefits for our customers are</h2>
                <ul>
                  <li>Strategic and tactic consultancy, risks and threats surveys in the fields of security</li>
                  <li>Planning and designing all security concepts and programs, including advanced
                  security technology systems and advisory in the most modern equipment to
                  procure</li>
                  <li>Building up the operational concepts and the SOP</li>
                  <li>Hands-on training, instruction and courses for armed and unarmed security
                  officers</li>
                </ul>
              </div>
              <img src="img/biosafe-about.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-6 image-about">
            </div>
          </div>
    </section>

    <section class="container-fluid">
      <div class="row">
        <div class="container d-flex">
          <img src="img/biosafe-oficer.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-5">
          <div class="col-sm-7 col-lg-8 mt-2 ml-4">
            <h5 class="mb-4 text-center">We know what next generation security looks like and have the network of reliable and high-
              quality providers. Our continuity planning keeps your business more intelligent, safer and a step
              ahead. Most importantly, we believe in adding value to your company by providing these tools
              and approaches:</h5>
            <ul>
              <li>Tailor made solutions based on experience</li>
              <li>Choosing diverse technology selected according to your needs (we have a wide range of
              specific high-quality manufacturers)</li>
              <li>Expertise and long run of trust built over the years with our partners</li>
              <li>Very reasonable prices compared to our competitors</li>
              <li>A superior post-sales service and person-to-person attention</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  <%- include('partials/footer.html') -%>
</body>
</html>