<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Provene</title>
  <%- include('partials/head.html') -%>
</head>
<body>
  <%- include('partials/navigation.html') -%>

    <section class="home-banner">
      <h1>Creemos en ti</h1>
      <button type="button" class="btn btn-primary home-btn-big">NUESTROS PRODUCTOS</button>
    </section>

    <section class="container pt-5">
        <div class="row justify-content-around align-itens-center">
          <article class="col-12 col-md-12 col-lg-4 pb-3">
            <div class="home-card d-flex flex-column align-items-center">
              <a href="#">
                <img src="img/provene-vision.jpg" class="home-card-img" aria-hidden="true" alt="provene vision">
              </a>
              <div>
                <h4 class="card-title">Visión</h4>
                <p class="card-text indent">Ofrecer la mayor variedad de productos de
  consumo masivo importados y nacionales al mercado venezolano a precios competitivos, de
  excelente calidad, y al alcance de cualquier consumidor.</p>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-12 col-lg-4 pb-3">
            <div class="home-card d-flex flex-column align-items-center">
              <a href="#" class="d-flex justify-content-center">  
                <img src="img/provene-mision.jpg" class="home-card-img home-card-img-sm" aria-hidden="true" alt="provene mision">
              </a>
              <div>
                <h4 class="card-title">Misión</h4>
                <p class="card-text indent">Distribuir productos alimenticios a cualquier punto
  de venta a nivel nacional, para que los consumidores tenga a la mano productos de calidad, a precios competitivos, y con el adecuado
  tratamiento que permita garantizar satisfacer las necesidades de nuestros clientes y consumidores.</p>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-12 col-lg-4 pb-3">
            <div class="home-card d-flex flex-column align-items-center">
              <a href="#" class="d-flex justify-content-center">  
                <img src="img/provene-valores.jpg" class="home-card-img home-card-img-sm" aria-hidden="true" alt="provene valores">
              </a>
              <div>
                <h4 class="card-title">Valores</h4>
                <p class="card-text indent">En Provene creemos en que la <b>pasión</b>, la <b>integridad</b>, 
  el <b>optimismo</b> y el <b>compromiso</b> son las claves necesarias para alcanzar el éxito, 
  teniendo como norte que nuestros clientes están primero y que a ellos se debe nuestro crecimiento y nuestro futuro</p>
              </div>
            </div>
          </article>
        </div>
      </section>

  <%- include('partials/footer.html') -%>
</body>
  <script src="https://use.fontawesome.com/cf8bb034e3.js"></script>
</html>