<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head.html') -%>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <%- include('partials/navigation.html') -%>

    <section class="opportunities-banner">
      <h1>Opportunities</h1>
      <button type="button" class="btn btn-primary about-btn-big" onclick="location.href='/'">BACK TO HOME</button>
    </section>

    <section class="container text-center border-config py-5">
      <div class="container"> 
          
          <h2 class="text-uppercase mb-2">The best way to keep safe</h2>
          <p class="mr-3 justify-content-center">We target opportunities, simplify processes, make the right connections, provide due diligence,
          and enable our clients to close the deals they are interested in.
          We facilitate platforms for corporate introductions, negotiation assistance for
          potential partnerships, facilitated project implementation and contract monitoring services for
          new client ventures.</p>
      <button type="button" class="btn btn-primary about-btn-big" onclick="location.href='/contact'">CONTACT US</button>
      </div>
    </section>

  <%- include('partials/footer.html') -%>
</body>
</html>