<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <%- include('partials/head.html') -%>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <%- include('partials/navigation.html') -%>

    <section class="services-banner">
      <h1>Productos</h1>
      <button type="button" class="btn btn-primary about-btn-big" onclick="location.href='/'">MENÚ PRINCIPAL</button>
    </section>

    <section class="container text-center border-config py-5">
      <div class="container"> 
          <h2 class="text-uppercase mb-2">Soluciones garantizadas</h2>
          <p class="mr-3 justify-content-center">Contamos con una variedad de productos nacionales e importados, con el fin de cubrir el abastecimiento de los hogares. 
Con el objetivo siempre de expandir nuestra cartera de productos en todo el territorio nacional</p>
      </div>
    </section>

    <section class="container-fluid about-services">
      <div class="row p-4 py-3">
        <div class="container d-flex">
          <img src="img/provene-canuelas.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-5">
          <div class="col-sm-7 col-lg-8 mt-2 ml-4">
            <h2 class="text-uppercase mb-4">Harinas Cañuelas</h2>
            <p>
              Nuestro producto estrella. Traída directamente de <strong>Uruguay</strong>, harina <strong>Cañuelas</strong> es hoy la marca de harina de trigo de mejor calidad en los anaqueles de Venezuela, ideal para emprendedores y amas de hogar que deseen preparar tortas, panes, tequeños o dulces. 
Tenemos disponibles en formato <strong>Todo Uso</strong>, para quienes elaboran distintos tipos de masas, y <strong>Leudante</strong>, para quienes gustan de la repostería.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid pt-4">
        <div class="row p-4 py-3">
          <div class="container d-flex"> 
              <div class="col-sm-7 col-lg-7 mb-3">
                <h2 class="text-uppercase text-center mb-4">Azúcar Montalbán</h2>
                <p>La marca número uno de Venezuela. Durante 55 años, <strong>Montalbán</strong> ha sido la marca de referencia en los mesones del país, destacándose por su calidad, rendimiento y presentación. En los últimos años, <strong>Azúcar Montalbán</strong> ha trabajado para expandir su línea de productos, con el fin de consolidarse aún más en el mercado venezolano. Disponibles en azúcar blanca refinada, azúcar cero calorías y azúcar glass.</p>
                </ul>
              </div>
              <img src="img/provene-montalban.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-5 image-about">
            </div>
          </div>
    </section>

    <section class="container-fluid about-services">
      <div class="row p-4 py-3">
        <div class="container d-flex">
          <img src="img/provene-arauca.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-5">
          <div class="col-sm-7 col-lg-8 mt-2 ml-4">
            <h2 class="text-uppercase mb-4">Café flor de Arauca</h2>
            <p>
              Una de las marcas de mayor crecimiento en los últimos años en el sector cafetalero del país. Sus granos finamente tostados, son el resultado de un seleccionado blend de granos arábica de distintos orígenes, siempre venezolanos, sometidos a un cuidado proceso de tostado y guarda, siempre con el fin de garantizar el aroma y el sabor de todas las mañanas.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid pt-4">
        <div class="row p-4 py-3">
          <div class="container d-flex"> 
              <div class="col-sm-7 col-lg-8 mb-3">
                <h2 class="text-uppercase text-center mb-4">Café San Salvador</h2>
                <p>Competidores de <strong>Flor de Arauca</strong> en calidad, pero con un tostado más fuerte y un sabor un poco más amargo, por lo que su aroma suele mayor presencia. <strong>Café
San Salvador</strong> va dirigido a quienes disfrutan del aroma del café puro, cargado de
energía y vitalidad para comenzar sus mañanas con ímpetu.</p>
                </ul>
              </div>
              <img src="img/provene-salvador.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-4 image-about">
            </div>
          </div>
    </section>

    <section class="container-fluid about-services">
      <div class="row p-4 py-3">
        <div class="container d-flex">
          <img src="img/provene-pantera.jpg" aria-hidden="true" alt="" class="col-sm-4 col-lg-5">
          <div class="col-sm-7 col-lg-8 mt-2 ml-4">
            <h2 class="text-uppercase mb-4">Granos Pantera</h2>
            <p>
              La marca de granos preferida por los venezolanos por su calidad y rendimiento. Granos Pantera tiene más de 20 años llevando productos de calidad a las mesas venezolanas, ofreciendo granos de calidad y sabor.
Actualmente contamos con caraotas, lentejas y maíz para cotufas, pero en próximos
meses esperamos expandirnos a otras líneas de productos de <strong>Granos Pantera.</strong>
            </p>
          </div>
        </div>
      </div>
    </section>

  <%- include('partials/footer.html') -%>
</body>
</html>