:root {
  --primary-color: #699536;
  --secondary-color: #1034A6;
  --third-color: #2fb86e;
  --primary-gray: rgb(117, 116, 116);
}

html {scroll-behavior: smooth;}

body {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  flex-wrap: wrap;
}

/* Inicio Header */

.menu {
  box-shadow: 0 4px 2px -2px var(--primary-color);
  z-index: 99;
  height: 15vh;
}

.logo-header {
  
}

/* Final Header */

/* Inicio HOME */

.navbar-nav {
  box-shadow: var(--primary-color);
}

.home-banner {
  margin-top: 10vh;
  background-image: url('../img/provene-banner.jpg');
  background-size: cover;
  background-position: top;
  height: 90vh;
  color: var(--primary-color);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.home-banner h1 {
  text-transform: uppercase;
  font-family: 'Roboto';
  margin-bottom: 3rem;
  text-align: center;
}

.home-banner button {
  margin-bottom: 10vh;
  padding: 0.5rem 2rem;
}

.home-btn-big {
  background-color: var(--primary-color);
  border: none;
}

.home-btn-big:hover {
  background-color: var(--primary-gray);
}

.home-card {text-align: center;}

.home-card-img {
  height: 65%;
  width: 65%;
  border-radius: 5px;
}

#card-home-img {
  height: 56%;
  width: 56%;
}

.home-card-section {
  margin: 2rem 0;
  height: 50vh;
}

.home-card .card-title {
  font-weight: bold;
  color: var(--primary-gray);
  margin-top: 0.5em;
  border-bottom: solid 2px var(--primary-color);
}

/* Final HOME */


/* FOOTER */

footer {
  background: var(--primary-color);
  margin-top: 8vh;
  bottom: 0;
  padding: 2% 0;
}

.footer-left-content {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.footer-left-title {
  color:#FFF;
  justify-content: center;
}

footer p {
  color: #FFF;
}

footer p:hover {
  color: var(--third-color);
}

footer img {width: 12vw;}

.footer-social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
}

#footer-ig, #footer-tw, #footer-fb {
  margin: 0 8px 0 8px;
}

#footer-ig:hover, #footer-tw:hover, #footer-fb:hover, .footer-left-title:hover{
  color: var(--third-color);
}

/* ------------- Media queries ---------- */
@media (max-width: 575px) {
  .about-content {
    width: 100%;
  }
}


@media (min-width: 576px) {

  .footer {
    background: var(--primary-color);
    padding: 2% 0;
  }

  
}

@media (min-width: 768px) {
  .footer {
    background: var(--primary-color);
    position: relative;
    bottom: 0;
    margin-top: 150vh;
    padding: 2% 0;
  }
}


