<footer class="container-fluid">
  <section class="row justify-content-around">
    <div class="col-md-4 d-flex align-items-center">
      <div class="footer-left-content pt-3"> 
        <h5 class="footer-left-title">Conócenos</h5>
        <p class="footer-description">Ofrecemos productos alimenticios de calidad, nacionales e importados, 
para satisfacer las necesidades de nuestros consumidores</p>

        <div class="footer-social-networks"> 
          <p>Síguenos en nuestras redes</p>
          <div> 
            <i class="fa fa-instagram" id="footer-ig"></i> <i class="fa fa-twitter" id="footer-tw"></i> <i class="fa fa-facebook" id="footer-fb"></i>
          </div>
        </div>
      </div>
      
        
    </div>
    <div class="col-md-4 text-center pt-3">
      <img src="img/provene-escala-grises.png" alt="Provene logo">
      <p>Copyright &#169; Provene 2019</p>    
    </div>
  </section>
</footer>

<!-- Scripts -->
<script src="https://use.fontawesome.com/cf8bb034e3.js"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>